@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  font-variant-numeric: tabular-nums;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #fff;
  color: #000;
}
